<div class="activities">
  <% @activities.each do |activity| %>
    <div class="row">
      <div class="col-md-2">
        <%= image_tag activity.user.avatar.url.to_s, size: Settings.user.avatar.size_100, alt: t("user_name") %>
      </div>
      <div class="col-md-10">
        <h3><%= link_to activity.user.name, "#" %></h3>
        <span><%= activity.activities %></span>
      </div>
    </div>
  <% end %>
  <%= will_paginate @activities %>
</div>

